.contacts {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   margin-top: -11px;
}

.contacts__number {
   font-size: 26px;
   line-height: 35px; 
   font-style: normal;
}

.contacts__description {
   margin-top: -8px;
   font-size: 13px;
   line-height: 20px;
   font-style: normal;
}

.contacts__number--services {
   margin-top: -10px;
}